.block_img {
 height:400px;
 background-color: aqua;
 background-image: url("../images/smallcat.png");
 background-repeat: repeat-x;
 background-position: 25% 60%;
 position: relative;
}
.red{
    background-image: url(../images/bigcat.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
.rectangle{
    background-color: blue;
    width: 30px;
    height:15px;
    position: absolute;
    right:10px;
    bottom:10px;

}