.container{
    height:200px;
    width: 100vw;
    display: flex;
    background-color: aqua;
    flex-direction: column;
    justify-content: flex-end;
}
.block1{
    width:calc(100% / 3);
    height:200px;
    background-color: chartreuse;
}
.block2{
    width:calc(100% / 3);
    height:200px;
    background-color: yellow;
}
.block3{
    width:calc(100% / 3);
    height:200px;
    background-color: green;
}