.container{
background-color: blueviolet;
height:80px;
display:flex;
padding-right:100px;
flex-wrap: wrap;
gap: 80px;
justify-content: flex-end;
align-items: center;

}
.item{
    background-color: brown;

    font-size: larger;
}