
        .inner-div1{
            height: 100px;
            width: 100px;
            background-color: red;
        }
        .inner-div2{
            height: 100px;
            width: 100px;
            background-color: blue;
        }
        .inner-div3{
            height: 100px;
            width: 100px;
            background-color: green;
        }
    